In [16]:
import pandas as pd

In [17]:
model=pd.read_pickle('HousePricePredictor')

In [18]:
model

LinearRegression()

In [19]:
cols=['Avg. Area Income','Avg. Area House Age','Avg. Area Number of Rooms','Area Population']

In [20]:
income=eval(input('Enter the Income:'))
house_age=eval(input('Enter the House age:'))
rooms=eval(input('Enter the number of rooms:'))
population=eval(input('Enter the Population:'))
query=pd.DataFrame({'Avg. Area Income':[income],
                    'Avg. Area House Age':[house_age],
                    'Avg. Area Number of Rooms':[rooms],
                    'Area Population':[population]
})

Enter the Income: 50000
Enter the House age: 10
Enter the number of rooms: 6
Enter the Population: 20000

In [21]:
query

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population
0,50000,10,6,20000

In [22]:
model.predict(query)[0]

1128480.6048907628

In [27]:
print('Price for house can be: %.1f$'%(model.predict(query)[0]))

Price for house can be: 1128480.6$

In [11]:
income=eval(input('Enter the Income:'))
house_age=eval(input('Enter the House age:'))
rooms=eval(input('Enter the number of rooms:'))
population=eval(input('Enter the Population:'))
query=pd.DataFrame({'Avg. Area Income':[income],
                    'Avg. Area House Age':[house_age],
                    'Avg. Area Number of Rooms':[rooms],
                    'Area Population':[population]})

Enter the Income: 800000
Enter the House age: 10
Enter the number of rooms: 5
Enter the Population: 60000

In [12]:
query

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population
0,800000,10,5,60000

In [13]:
print('Price for house can be: %.1f$'%(model.predict(query)[0]))

Price for house can be: 17951227.9$

In [15]:
model.predict(query)[0]

17951227.91203943